

.font-Roboto-Condensed{font-family: 'Roboto Condensed', sans-serif;}
.font-Roboto{font-family: 'Roboto', sans-serif;}

h1,h2,h3,h4,h5,h6 {font-family: 'Roboto Condensed', sans-serif;font-weight: bold;}
a{text-decoration: none;color: black;}
a:hover{color: red;text-decoration: none;}

.height-100{min-height: 800px;}
.navCollapsible-container{position: fixed;z-index: 2;width: 240px;top: 60px; right: 0;padding: 0 !important;}
.navCollapsible-container a{font-family: 'Roboto Condensed', sans-serif;font-weight: bold;font-size: 1.3rem;padding: 2px 18px !important;}

.navLinks a{border-left: 1px lightgray solid;padding: 6px;font-weight: bold;}
.navLinks a:first-of-type{border:0;}
.opinionBox{border-bottom: 1px lightgray solid;}

.article-header{color: #000; font-weight: bold;}
.article-header a:hover{color: #000;text-decoration: underline;text-decoration-color: #DF0000;}
.article-header-culture a:hover{color: #000;text-decoration: none;}
.block-caption{position: absolute;bottom: 0;color: #DF0000;background-color: #fbfbfb;font-family: 'Roboto Condensed', sans-serif;font-weight: bold;text-transform: uppercase;}
.article-tag{background-color: #d6f5f5;padding: 5px;}
.article-tag:hover{background-color: #000; color: #FFF;}
.article-tag a:hover{color: #FFF;}
.article-box{font-family: 'Roboto Condensed', sans-serif;font-weight: bold;line-height: 1.25em;}
.article-box div{margin-bottom: 0.75rem;}
.article-box div:last-child{margin-bottom: 0;}
.article-box a{font-size: 1.25rem;}

/*Slideshow Section*/
.second-N{position: absolute;bottom: 6px;right: 14px;width: 36px;height: 36px;}
.slide-caption{position: absolute;width: 68px;height: 52px;background-color: #fbfbfb;bottom: 0;font-family: 'Roboto Condensed', sans-serif;font-weight: bold;font-size: 1.25rem;}
.slide-caption-box{position: absolute;bottom: 0; right: 8px; width: 42px;height: 36px;border:2px #DF0000 solid;}
.slide-caption-box-2{position: absolute;bottom: 5px; right: 13px; width: 42px;height: 36px;border:2px #DF0000 solid;border-bottom: 0;border-right: 0;}
.slide-caption-box-3{position: absolute;bottom: 10px; right: 18px; width: 42px;height: 36px;border:2px #DF0000 solid;border-bottom: 0;border-right: 0;}

/*Footer Subscribe and Newsletter Section*/
.book-case{padding: 122px 150px;position: relative;}
.book-shelf{position: absolute;margin-bottom: 1rem;top: 0;left: 0;}
.book-behind{position: absolute;z-index: 1;}
.book-forefront{position:absolute;left: 90px;top: 13px;z-index: 2;}

.subscribe-bg{background: url(../images/Footer/subscribe-img2.gif) center center / cover no-repeat;width:48%;min-height: 160px;}

.social-media{font-size: 28px;}
.social-media a{margin-left: .65rem;color:gray;}
.social-media a:first-of-type{margin-left: 0;}
/*facebook icon*/
.social-media a:nth-child(1):hover{color: midnightblue;}
/*twitter icon*/
.social-media a:nth-child(2):hover{color: skyblue;}
/*instagram icon*/
.social-media a:nth-child(3):hover{color: blue;}
/*tumbler icon*/
.social-media a:nth-child(4):hover{color: darkblue;}
/*linkedIn icon*/
.social-media a:nth-child(5):hover{color: dodgerblue;}

.footer-links{list-style: none;font-size: 0.9rem;font-weight: 500;color: #727272;}
.footer-links li{border-right: 1px gray solid;padding: 0 0.85rem;line-height: 1rem;margin: 0.35rem 0;}
.footer-links li:last-of-type{border: none;}
.footer-links li a{color:#727272;}
.footer-links li a:hover{color: #111;}

/*Horizontal Line Dividers*/
.gray-divider{border-bottom: 2px #f2f2f2 solid; width: 96%; height: 2px;margin: auto;}

/*Borders*/
.border-white{border: 1px #FFF solid;}
.border-red{border:2px #DF0000 solid;}

/* Colors */
.bg-white{background-color: #FFF;}
.bg-lgrey{background-color: #f2f2f2;}
.bg-lgray{background-color: #f2f2f2;}
.bg-grey-hover:hover{background-color: #d2d2d2;}

/*Media queries*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px), (min-width: 600px) {
    .d-show-sm-only{display: block;}
    .d-show-md-only{display: none;}
    .d-show-lg-only{display: none;}
    
    .d-show-sm-md-only{display: block;}
    
    .fixed-top-md{position: fixed;width: 100%; z-index: 9;top: 0;}
    
    .nav-link:hover{background-color: #000;}
    .nav-link:hover span{color: #FFF;}
    .nav-link:hover i{color: red;}
    .navLinks a{border-left: 0;}

    .book-case{left: 20%;}
    .subscribe-bg{width:100%;min-height: 160px;}

    .footer-links li{border:none;}
    
    .text-small-center{text-align: center;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .d-show-sm-only{display: none;}
    .d-show-md-only{display: block;}
    .d-show-lg-only{display: none;}
    
    .d-show-sm-md-only{display: block;}
    
    .fixed-top-md{position: fixed;width: 100%; z-index: 9;top: 0;}
    
    .nav-link:hover{background-color: #000;}
    .nav-link:hover span{color: #FFF;}
    .nav-link:hover i{color: red;}
    .navLinks a{border-left: 0;}
    
    .book-case{left: 0;}
    .subscribe-bg{width:30%;}
    
    .footer-links li{border-right: 1px gray solid;padding: 0 0.85rem;line-height: 1rem;margin: 0.35rem 0;}
    
    .text-small-center{text-align: left;}
} 

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    .d-show-sm-only{display: none;}
    .d-show-md-only{display: none;}
    .d-show-lg-only{display: block;}
    
    .d-show-sm-md-only{display: none;}
    
    .fixed-top-md{position: relative;width: auto;}

    .nav-link:hover{background-color: inherit;}
    .nav-link:hover span{color: inherit;}
    .nav-link:hover i{color: inherit;}
    .navLinks a{border-left: 1px lightgray solid;padding: 6px;font-weight: bold;}

    .book-case{left: 0;}
    .subscribe-bg{width:100%;min-height: 290px;}
    .footer-links li{border-right: 1px gray solid;padding: 0 0.85rem;line-height: 1rem;margin: 0.35rem 0;}
    
    .text-small-center{text-align: left;}
}